@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Poppins;
  scroll-behavior: smooth;
}

*,
*::after,
* ::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  background-color: #1fa0f5;
  padding-top: 100px;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.df {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  text-align: center;
  font-style: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 20px;
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: rgb(28, 117, 251);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.form__btn {
  padding: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.card {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.card__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: center;
  background-color: #1fa0f5;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}
.card__text {
  color: #fff;
}
.card__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__img {
  background-color: gray;
  width: 50px;
  height: 50px;
}
.card__title {
  font-size: 38px;
  color: #1fa0f5;
}